@charset "UTF-8";

body {
  margin: 0 12rem 0 12rem;
}

.navbar {
  position: absolute;
  display: inline;
  width: 60%;
  left: 20%;
  top: 30px;
  float: right;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px; 
  text-transform: uppercase;
  opacity: 0;
  animation-name: navbar_show;
  animation-fill-mode: forwards;
  animation-delay: 1500ms;
}

@keyframes navbar_show {
  0%, 100% { opacity: 1;}
}

.navbar-nav {
  text-align: right; 
}

.navbar-header {
  float: left;
  display: inline;
}

.navbar-header a {
  text-decoration: none;
  color: #5588EE;
}

.navbar ul {
  margin: 0;
  list-style-type: none;
}

.navbar ul li {
  width: 3rem;
  display: inline;
}

.navbar ul li a {
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  color: #888;
}

.circle_blue {
  position: absolute;
	width: 4rem;
  height: 4rem;
  border-radius: 3.5rem;
  transform-origin: 50% 50%;
  background: #D8EBFA;

	top: calc(0% - 2rem);
	left: calc(50% - 2rem);
	
	animation-name: move_drop, expand_drop, moveX_drop;
  animation-duration: 1350ms, 300ms, 375ms;
  animation-delay: 0s, 1350ms, 2125ms;
  animation-fill-mode: forwards, forwards, forwards;
  animation-timing-function: cubic-bezier(1, -0.04, .68, .62), ease-out, linear;
}

@keyframes move_drop {
  0%, 11%, 37%, 87%, 100% {
    border-radius: 3.5rem;
  }
  0%, 11%, 37% {
    background-color: #D8EBFA;
  }
  87%, 100% {
    background-color: #5588EE;
  }
  100% {
		top: 50%;
    margin-top: -2rem;
  }
  0%{
    top: 0%;
    margin-top: -4rem;
    transform: scale(1, 1);
  }
  16%, 19% {
    transform: scale(0.9, 1.1);
  }
  27%, 30% {
    transform: scale(0.9, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes moveX_drop {
  100% {left: calc(50% + 18rem);}
}

@keyframes expand_drop {
  0%, 33%, 66%, 100% {
    border-radius: 3.5rem;
  }
  0% { transform: scale(1, 1);}
  33% { transform: scale(2, 2);}
  66% { transform: scale(3, 3);}
  100% { transform: scale(4, 4);}
}

div.icon img {
  position: absolute;
  width: 20rem;
  height: 17rem;
 
  top: calc(60% - 8.5rem);
  left: calc(50% - 10rem);
  opacity: 0;
  
  -webkit-filter: drop-shadow(10px 25px 7px rgba(0, 0, 0, 0.25));
  
  animation-name: move_icon, moveX_icon;
  animation-duration: 400ms, 375ms;
  animation-delay: 1350ms, 2125ms;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: ease-in-out, linear;
}

@keyframes moveX_icon {
  to {left: calc(50% + 10rem);}
}

@keyframes move_icon {
  0%{
    opacity: 0;
  }
  100% {
    top: 50%;
    margin-top: -8.5rem;
    opacity: 1;
  }
}

.square_blue {
  position: absolute;
  width: 25rem;
  height: 3rem;

  top: calc(50% - 5rem);
  left: 15%;
  -webkit-transform-origin: 0% 50%;
  opacity: 0.8;

  animation-name: move_square;
  animation-duration: 0.75s;
  animation-delay: 1750ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes move_square {
  0%, 100%{
    background-color: #A7BBEF;
  }
  0% {
    transform: scale(0, 1);
  }
  50% {
    left: 15%;
    transform: scale(1, 1);
  }
  100% {
    left: calc(15% + 25rem);
    transform: scale(0, 1);
  }
}

div.name {
  font-family: sans-serif, DFKai-sb;
	position: absolute;
  top: calc(50% - 6rem);
  left: 10%;
	opacity: 0;

  animation-name: move_name;
  animation-duration: 375ms;
  animation-delay: 2125ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;  
}

@keyframes move_name {
	from {
  	opacity: 0;
	}

  to {
    left: 20%;
    opacity: 1;
  }
}

div.describe {
  font-family: sans-serif;
	color: #888888;
	position: absolute;
  top: calc(50% - 2rem);
  left: 10%;
	width: 25rem;
	opacity: 0;

  animation-name: move_name;
  animation-duration: 375ms;
  animation-delay: 2300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;  
}

/* button design */
.btn-1 {
  background-color: #5599DD;
}

.btn .round {
  background-color: #C8DEF4;
}

.type-1 a:hover {
  padding-left: 48px;
  padding-right: 28px;
}

.type-1 a:hover .round {
  width: calc(100% - 6px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.type-1 a:hover .round i {
  left: 12%;
}

.type-1 a {
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}

a span {
  position: relative;
  z-index: 3;
}

a .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}

a .round i {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -4px;
  -webkit-transition: all 0.3s;
}

.txt {
  font-size: 14px;
  line-height: 1.45;
}

div#btn_more {
  position: absolute;
  width: 16rem;
  height: 3rem;
  top: calc(50% + 5rem);
  left: calc(15%);
  opacity: 0;

  animation-name: btn1_move;
  animation-duration: 300ms;
  animation-delay: 2500ms;
  animation-timing-funtion: ease-out;
  animation-fill-mode: forwards;
}

@keyframes btn1_move {
  to {
    left: 20%;
    opacity: 1;
  }
}

div.footer {
  position: absolute;
  top: 85%;
  width: calc(100% - 24rem);
  text-align: center;
	opacity: 0;
  animation-name: navbar_show;
  animation-fill-mode: forwards;
  animation-delay: 1500ms;
}

div.footer ul {
  padding: 0;
	font-size: 2em;
	display: inline;
	list-style: none;
}

div.footer ul li {
  display: inline-block;
}

div.footer a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 4px #fff, 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
	margin: 0 1rem;
  text-align: center;
  color: #CCCCCC;
}

.footer > p {
  font-size: 14px;
  color: #CCCCCC;
}
